# WARNING: If using a Windows path, you MUST use double backslashes (\\) or forward slashes (/)
storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
storeFile=C:\\Absolute\\Path\\To\\Your\\release.keystore
